{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <br>
    <div class="d-flex flex-row justify-content-center p-2">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="input-group d-flex justify-content-center">
                {{ form.search_term(class="form-control") }}
                {{ form.search_location(class="form-control") }}
                {{ form.search_radius(class="form-control") }}
            {{ form.submit(class="btn btn-primary d-flex justify-content-center") }}
            </div>
        </form>
    </div>
</div>
    <br>
    <img class="container mx-auto" src="https://tinyurl.com/2x8wfv2x" alt="Job Hunt">
</div>
{% endblock %}
