{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-12">
            <form action="" method="post" class="form-inline">
                {{ form.hidden_tag() }}
                {{ form.search_term.label(class="sr-only") }}
                {{ form.search_term(class="form-control mr-2") }}
                {{ form.search_location.label(class="sr-only") }}
                {{ form.search_location(class="form-control mr-2") }}
                {{ form.search_radius.label(class="sr-only") }}
                {{ form.search_radius(class="form-control mr-2") }}
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>

    <br>
    <img class="container mx-auto" src="https://tinyurl.com/2x8wfv2x" alt="Job Hunt">
</div>
{% endblock %}
